.mainBody {
  width: 100%;
  position: relative;
  left: 0;
}

.mainBody.active {
  width: calc(100% - 250px);
  left: 190px;
}

.body-content {
  width: auto;
  height: calc(100% - 61px);
  background-color: #e9eff4;
  padding: 1em;
}

.card-deck .card {
  border: unset;
  border-radius: unset;
  box-shadow: 4px 4px 10px #c3c7ca;
}