.navbar .searchbar {
  display: flex;
  flex-direction: row;
}

.searchbar svg {
  align-self: center;
}

.searchbar input {
  background-color: unset;
}

.profile-settings svg{
  margin: 10px;
}

.profile-avatar-name {
  align-items: center;
}

.profile-avatar-name img{
  height: 30px;
  border-radius: 20px;
}